<h1><%= title %></h1>

<div>
	<p>URL: <input type="text" name="url" id="url" size="50"/></p>
	<p>
		Execute JavaScript Function<br/>
		<textarea name="js" id="js" cols="70" rows="20">function(){
  return {};
}</textarea>
	</p>
	<p><button id="go">Get JSON</button></p>
</div>

<h2>Reponse</h2>
<p>Status: <span id="status"></span></p>
<p>Last Response Date: <span id="last_date"></span></p>
<h3>Data</h3>
<pre id="response"></pre>

<script type="text/javascript">
$(function(){
	$('#go').click(function(){
		$('#status').text('Getting...');
		$('#go').attr('disabled', true);
		var url = $('#url').val();
		var js = $('#js').val();
		$.ajax({
			type: "post",
			url: "/js",
			data: {url: url, js: js},
			cache: false,
			dataType: "json",
			success: function(data, dataType) {
				$('#status').text('Success!!');
				$('#response').text(JSON.stringify(data));
				$('#last_date').text('' + new Date());
			},
			error: function(request, textStatus, errorThrown) {
				$('#status').text('Error!!');
				$('#response').text(JSON.stringify(errorThrown));
			},
			complete: function(request, textStatus) {
				$('#go').attr('disabled', false);
			}
		});
	});
});
</script>
